<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" style="color:white;" routerLink="/listEmplyee">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" style="cursor: pointer;" routerLink="/addEmplyee" >Add Employee<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" routerLink="/listEmplyee" >List of Employee<span class="sr-only">(current)</span></a>

        </li>
        <li>
          <a class="nav-link" style="cursor: pointer;" routerLink="/archivedEmplyee" >Archived Employee<span class="sr-only">(current)</span></a>

        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input type="search"
        name="key" id="searchName"
        ngModel class="form-control mr-sm-2" placeholder="Chercher Dep..." required>
        <input type="search"
        name="key" id="searchName"
        ngModel class="form-control mr-sm-2" placeholder="Chercher Agent..." required>
    </form>
    </div>
</nav>

<router-outlet></router-outlet>
